$primary-text-color: #757575;
$title-text-color: #212121;
$primary-white-color: #ffffff;
$accent-color: #2196f3;
$icon-color: #afb1b8;
$primary-background-color: #ffffff;
$accent-background-color: #2196f3;
$secondary-background-color: #f5f4fa;
$dark-background-color: #2f303a;

$primary-font-family: Roboto;
$secondary-font-family: Raleway;
$normal-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;
$black-font-weight: 900;
