.header-container {
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and(max-width: 767px) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.header-navigation-wrapper {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}
