.logo {
  font-family: Raleway;
  font-weight: $bold-font-weight;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: $title-text-color;
}
.logo-first-part {
  color: $accent-color;
}
.logo-second-part {
  color: $primary-white-color;
}
